#choose {
  padding: 100px 0;
  background: url(../../../assets/images/element.png) no-repeat;
}
#choose .circle {
  background: #1bbf00;
  width: 25px;
  height: 25px;
  position: relative;
  margin-right: 37px;
}
#choose .circle::after {
  content: "";
  background: #cbc8f0;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
}
#choose .pera {
  width: 319px;
}
#choose .choose-item {
  margin-bottom: 32px;
  padding-left: 28px;
}
#choose .choose-item:hover {
  width: auto;
  height: 144px;
  background: #ffffff;
  box-shadow: 10px 30px 60px rgba(162, 169, 192, 0.15);
  border-radius: 12px;
  padding: 42px 0 42px 28px;
}
