.banner {
  background: url(../../assets/images/bg.jpg) center / cover;
  padding: 246px 0 256px 0;
  position: relative;
}
.banner::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(105, 71, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
}
.banner .col-lg-10 {
  z-index: 4;
}
.banner h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.banner p {
  text-align: center;
  font-family: "Paprika";
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  width: 715px;
  margin: 0 auto;
  margin-bottom: 16px;
}

@media (max-width: 575.98px) {
.btn-web-2 {
    padding: 10px 20px;
    font-size: 14px;
  }
}